/* 全局样式 */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #007BFF;
    color: white;
    text-align: center;
    padding: 20px 0;
}

main {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.hotel-brand {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 15px;
    padding: 20px;
    width: 300px;
    display: flex;
    align-items: center;
    transition: transform 0.3s ease;
}

.hotel-brand:hover {
    transform: translateY(-5px);
}

.hotel-brand img {
    width: 80px;
    height: 80px;
    object-fit: contain;
    margin-right: 20px;
}

.brand-info h2 {
    margin: 0 0 10px 0;
    font-size: 20px;
}

.brand-info a {
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;
}

.brand-info a:hover {
    text-decoration: underline;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

/* footer.css */
.footer-columns {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.footer-column {
    width: 30%;
}

.footer-column h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.footer-column ul {
    list-style-type: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 5px;
}

.footer-column ul li a {
    color: #333;
    text-decoration: none;
}

.footer-column ul li a:hover {
    text-decoration: underline;
}

.social-icons {
    display: flex;
}

.social-icons li {
    margin-right: 10px;
}

.social-icons li a {
    color: #333;
    font-size: 20px;
}

.footer-bottom {
    text-align: center;
    padding: 10px;
    border-top: 1px solid #007BFFc;
}
